<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiang.sportx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.xiang.application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LanchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GymDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrendDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageAndTextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserAlbumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".XMoneyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateTrendActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChooseGymActivity" />
        <activity android:name=".ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.xiang.sportx"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>
